apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "terabox-worker-service.fullname" . }}
  labels:
    {{- include "terabox-worker-service.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "terabox-worker-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "terabox-worker-service.selectorLabels" . | nindent 8 }}
      annotations:
        {{- if .Values.istio.enabled }}
        sidecar.istio.io/inject: "true"
        {{- end }}
    spec:
      serviceAccountName: {{ include "terabox-worker-service.fullname" . }}
      containers:
        - name: terabox-worker-service
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 9090
              protocol: TCP
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
