apiVersion: v1
kind: Service
metadata:
  name: terabox-worker-service
  labels:
    app.kubernetes.io/name: terabox-worker-service
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 9090
      protocol: TCP
      name: grpc
  selector:
    app.kubernetes.io/name: terabox-worker-service
